{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}  

<style>
	iframe{
		overflow-x:hidden;
		overflow-Y:hidden;
	}
</style>
<iframe height="400px" width="100%" src="/theme/iframes/predict.html" frameborder="0" scrolling="no"></iframe>

<h1>Posts</h1>
<br>
{% for article in articles_page.object_list %}        
<div class="article" itemscope itemtype="http://schema.org/BlogPosting">
	<a href="/{{ article.url }}">
		<h4 style="color:black" itemprop="name headline">{{ article.title }}</h4>
	</a>
	<time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.locale_date }}</time>
</div>
<hr>
{% endfor %} {# For article #}

<style>
	a{
		color:black;
	}
</style>

<br><br>

<h1>Talks</h1><p> Here's some content for some talks that I've given in the past: </p>

<script src="/theme/js/bootstrap.min.js"></script>
<footer id="footer">
	<a data-toggle="collapse" href="#pydata_ams2016" aria-expanded="false" aria-controls="pydata_ams2016">
		<u><h3 class="talk_notes">PyData London/Amsterdam 2016: The Duct Tape of Heroes: Bayes Rule</h3></u>
	</a>
	<div class="collapse" id="pydata_ams2016">
	  <div class="well">
	    <ul class="well">
	    	<li><a href="/theme/notebooks/bayes.pdf">slides</a></li>
    	</ul>
    	<br>
	  </div>
	</div>

	<a data-toggle="collapse" href="#pokemon_london" aria-expanded="false" aria-controls="pokemon_london">
		<u><h3 class="talk_notes">PyData London 2016 Meetup: An Optimal Portfolio of Pokemon</h3></u>
	</a>
	<div class="collapse" id="pokemon_london">
	  <div class="well">
	    <ul class="well">
	    	<li><a href="/theme/notebooks/pokemon.pdf">slides</a></li>
    	</ul>
    	<br>
	  </div>
	</div>

	<a data-toggle="collapse" href="#earl2015" aria-expanded="false" aria-controls="earl2015">
		<u><h3 class="talk_notes">Spark Summit Meetup + BudapestBI + EARL Boston 2015: SparkR</h3></u>
	</a>
	<div class="collapse" id="earl2015">
	  <div class="well">
	    <ul class="well">
	    	<li><a href="/theme/notebooks/sparkr.pdf">slides</a></li>
    	</ul>
    	<br>
	  </div>
	</div>

	<a data-toggle="collapse" href="#europython2015" aria-expanded="false" aria-controls="europython2015">
		<u><h3 class="talk_notes">EuroPython 2015: Pyspark + Warcraft</h3></u>
	</a>
	<div class="collapse" id="europython2015">
	  <div class="well">
	    <ul class="well">
	    	<li><a href="/theme/notebooks/wowspark.pdf">slides</a></li>
	    	<li><a href="https://www.youtube.com/watch?v=AOwP2xq_ceE">youtube, not the best quality</a></li>
    	</ul>
    	<br>
	  </div>
	</div>

	<a data-toggle="collapse" href="#open-rstudio-2015" aria-expanded="false" aria-controls="open-rstudio-2015">
		<u><h3 class="talk_notes">Open Rstudio Session 2015</h3></u>
	</a>
	<div class="collapse" id="open-rstudio-2015">
	  <div class="well">
	    <ul class="well">
	    	<li><a href="/theme/notebooks/open_r_session.Rmd">Rmd file</a></li>
	    	<li><a href="/theme/notebooks/open_r_session.html">html document</a></li>
    	</ul>
    	<br>
	  </div>
	</div>

	<a data-toggle="collapse" href="#open-pandas-2015" aria-expanded="false" aria-controls="open-pandas-2015">
		<u><h3 class="talk_notes">Open Pandas Session 2015</h3></u>
	</a>
	<div class="collapse" id="open-pandas-2015">
	  <div class="well">
	    <ul class="well">
	    	<li><a href="https://nbviewer.jupyter.org/github/koaning/koaning.github.io/blob/master/md/Open%20Pandas%20Session.ipynb">ipython notebook webview</a></li>
	    	<li><a href="/theme/notebooks/open-pandas-2015.ipynb">ipython notebook file</a></li>
	    	<li><a href="/theme/data/chickweight.csv">chickweight dataset</a></li>
	    	<li><a href="/theme/data/ns-storingen.csv">ns dataset</a></li>
    	</ul>
    	<br>
	  </div>
	</div>

	<a data-toggle="collapse" href="#python-ams-meetup" aria-expanded="false" aria-controls="python-ams-meetup">
		<u><h3 class="talk_notes">Python AMS Meetup 2015</h3></u>
	</a>
	<div class="collapse" id="python-ams-meetup">
	  <div class="well">
	    <ul class="well">
	    	<li><a href="https://gist.githubusercontent.com/koaning/28a91f5ac8be1571059a/raw/76d930d1c3c65a3f34e68ac64ac05ad00cbc9da3/gistfile1.txt">ipython notebook file</a></li>
	    	<li><a href="/theme/iframes/ams-meetup-notebook.html">ipython notebook webview</a></li>
	    	<li><a href="/theme/data/chickweight.csv">chickweight dataset</a></li>
    	</ul>
    	<br>
	  </div>
	</div>

	<a data-toggle="collapse" href="#pydata-berlin" aria-expanded="false" aria-controls="pydata-berlin">
		<u><h3 class="talk_notes">PyData Berlin 2014: Pandas and Friends</h3></u>
	</a>
	<div class="collapse" id="pydata-berlin">
	  <div class="well">
			<ul class="well">
	    	<li><a href="https://www.youtube.com/watch?v=ZW8Aei2wlsM">youtube</a></li>
	    	<li><a href="/theme/iframes/ams-meetup-notebook.html">ipython notebook webview</a></li>
	    	<li><a href="/theme/data/chickweight.csv">chickweight dataset</a></li>
	    	<li><a href="/theme/data/financial.csv">financial dataset</a></li>
	    	<li><a href="/theme/data/whatweare.csv">whatweare dataset</a></li>
    	</ul>
    	<br>
	  </div>
	</div>

<br><br><br>

</footer>
{% endblock content %}

